<form class="location-filter" aria-label="Location filters" (ngSubmit)="submit()">
  <div class="location-filter__controls">
    <label class="location-filter__search">
      <span>Find location</span>
      <input
        type="search"
        name="search"
        [placeholder]="filters().searchPlaceholder"
        [ngModel]="search()"
        (ngModelChange)="onSearchChange($event)"
      />
    </label>

    <label>
      <span>Building</span>
      <app-select-dropdown
        name="building"
        inputId="location-building-filter"
        [options]="filters().buildingOptions"
        [ngModel]="building()"
        (ngModelChange)="onBuildingChange($event)"
        [compact]="true"
        placeholder="All buildings"
      />
    </label>

    <label>
      <span>Status</span>
      <app-select-dropdown
        name="status"
        inputId="location-status-filter"
        [options]="filters().statusOptions"
        [ngModel]="status()"
        (ngModelChange)="onStatusChange($event)"
        [compact]="true"
        placeholder="All statuses"
      />
    </label>
  </div>
</form>
